# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.env

# Build artifacts
build/
dist/
*.egg-info/
develop-eggs/
.eggs/

# IDE/OS files
.idea/
.vscode/
.DS_Store

# Micromamba/Conda
.condarc
pkgs/

# Output files
*.sgf
*.mp4
*.h264
