# Fichier pour le développement local (PC Windows)

# IA
ultralytics==8.0.206
# Installez les versions de torch pour votre PC (ex: avec/sans CUDA)
torch
torchvision

# Serveur web et communication
Flask==3.1.0
websockets

# Dépendances de l'application
numpy<2
opencv-python==4.10.0.84
sente==0.4.2
sgf==0.5

# DÉPENDANCE DE DÉTECTION
scikit-learn