# Pour dire à pip d'utiliser les paquets pré-compilés pour Raspberry Pi
--extra-index-url https://www.piwheels.org/simple/

# 1. Dépendances de l'IA (Torch & Ultralytics)
torch==2.1.0
torchvision==0.16.0
ultralytics==8.0.206

# 2. Dépendances du serveur web (local)
Flask==3.1.0
numpy<2

# 3. Dépendances de l'application
opencv-python-headless==4.10.0.84
sente==0.4.2
sgf==0.5

# 4. Pour envoyer le SGF au serveur FastAPI
websockets